.task-image{width:50px;height: 50px;}
.conteiner{width:600px; margin-left: 20%;}
#btn_add{margin-top: 5px; float:right;}
.sort_field{cursor: pointer;}
.sort_field:hover{text-decoration: none;}
#login_form{margin-top: 5%;}
tr.approved{background-color: #b1e2b1 !important;}
nav .active{background-color: #e7e7e7;}
#btn_preview{float:left;}
#preview_block{margin-top:5%;}
.img_div{margin-bottom: 2%;}
